---

- name: Pull Loader Run Image
  docker_image:
    name: "{{ LOADER_IMAGE_NAME }}"
    source: pull

- name: Setting REDOWNLOAD_FROM_FMS to True in the loader
  set_fact:
    REDOWNLOAD_FROM_FMS_VALUE: true
  when: REDOWNLOAD_FILES_FROM_FMS

- name: Setting REDOWNLOAD_FROM_FMS to False in the loader (default)
  set_fact:
    REDOWNLOAD_FROM_FMS_VALUE: false
  when: not REDOWNLOAD_FILES_FROM_FMS

- name: Running Loader with Alliance Release set to {{ ALLIANCE_RELEASE }}
  docker_container:
    name: "{{ LOADER_RUN_NAME }}"
    image: "{{ LOADER_IMAGE_NAME }}"
    detach: no
    timeout: 25000
    recreate: yes
    log_driver: "gelf"
    log_options:
      gelf-address: "{{ LOG_SERVER_ADDRESS }}"
    volumes:
      - "{{ NEO_VOLUME_NAME }}:/usr/src/app/tmp"
    networks:
      - name: "{{ NET }}"
    env:
      API_KEY: "{{ API_ACCESS_TOKEN }}"
      DEBUG: "False"
      DOWNLOAD_HOST: "{{ DOWNLOAD_HOST }}"
      TEST_SET: "{{ LOADER_TEST_SET | string }}"
      ALLIANCE_RELEASE: "{{ ALLIANCE_RELEASE }}"
      FMS_API_URL: "{{ FMS_API_URL }}"
      AWS_ACCESS_KEY: "{{ AWS_ACCESS_KEY }}"
      AWS_SECRET_KEY: "{{ AWS_SECRET_KEY }}"
      GENERATE_REPORTS: "{{ GENERATE_REPORTS | string }}"
      NEO4J_HOST: "{{ NEO_SERVER_NAME }}"
      NEO4J_TRANSACTOR_THREADS: "{{ NEO4J_TRANSACTOR_THREADS_VALUE | string }}"
      REDOWNLOAD_FROM_FMS: "{{ REDOWNLOAD_FROM_FMS_VALUE | string }}"
