---

- name: Pull Java Software Image
  docker_image:
    name: "{{ JAVA_SOFTWARE_RUN_IMAGE_NAME }}"
    source: pull

- name: Running Indexer
  docker_container:
    name: "{{ INDEXER_RUN_NAME }}"
    image: "{{ JAVA_SOFTWARE_RUN_IMAGE_NAME }}"
    detach: no
    timeout: 28800
    recreate: yes
    log_driver: "gelf"
    log_options:
      gelf-address: "{{ LOG_SERVER_ADDRESS }}"
    networks:
      - name: "{{ NET }}"
    env:
      ES_INDEX_SUFFIX: "{{ NET }}"
      CURATION_API_URL: "{{ CURATION_API_URL }}"
      CURATION_API_TOKEN: "{{ CURATION_API_TOKEN }}"
      BOLT_LOG_LEVEL: INFO
      DEFAULT_LOG_LEVEL: INFO
      ES_HOST: "{{ ES_SERVER_NAME }}"
      NEO4J_HOST: "{{ NEO_SERVER_NAME }}"
      AWS_ACCESS_KEY: "{{ AWS_ACCESS_KEY }}"
      AWS_SECRET_KEY: "{{ AWS_SECRET_KEY }}"
      ALLIANCE_RELEASE: "{{ ALLIANCE_RELEASE }}"
    command: java -Xms{{ INDEXER_MEMORY }} -Xmx{{ INDEXER_MEMORY }} -XX:+UseG1GC -XX:MaxGCPauseMillis=200 -XX:InitiatingHeapOccupancyPercent=45 -XX:G1ReservePercent=10 -XX:+ParallelRefProcEnabled -DTHREADED={{ THREADED }} -jar agr_indexer/target/agr_indexer-jar-with-dependencies.jar {{ INDEXER_SPECIFIC_FLAGS }}

